node_modules
react portfolio website 1 assets.zip
.DS_Store
src/.DS_Store
src/assets/.DS_Store
src/components/experience.css.backup
src/components/experience/experience.txt
src/components/portfolio/Projects.txt
src/components/testimonials