.portfolio__container{
    display: grid;
    grid-template-columns: repeat(3, 0.8fr);
    gap: 3rem
} 

.portfolio__item{
    background: var(--color-bg-variant);
    border-radius: 2rem;
    padding: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover{
    background: transparent;
    border-color: var(--color-bg-variant);
}

.portfolio__item-image{
    border-radius: 1rem;
    overflow: hidden;
    height: 8.3rem;
    /* width: 16rem; */
}

.portfolio__item h3{
    margin: 1.2rem 0 1.5rem;
}

.actionbtn{
    display: flex;
    gap: 1.3rem;
}

/* media queries for different devices */


@media screen and (max-width: 1024px){
    .portfolio__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }
    .portfolio__item-image{
        border-radius: 1rem;
        height: 8.5rem;
      }
}

@media screen and (max-width: 600px){
  .portfolio__container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem
  }

  .portfolio__item-image{
    border-radius: 1rem;
    height: 9.49rem;
  }

  section > portfolio{
    margin-top: 3rem;
  }

}