
.about__container{
    display: grid;
    grid-template-columns: 50% 35%;
    gap: 15%;
    margin-top: 2rem;
}

.about__media{
    width: 90%;
    height: 33rem ;
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, var(--color-primary), transparent);
    display: grid;
    place-items: center;
}

.about__image{
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}

.about__image:hover{
    transform: rotate(0deg);
}

.about__cards{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    margin-bottom: 2rem;
}

.aboutcard{
    /* background: var(--color-bg-variant); */
    background: var(--color-bg-variant);
    border: 1px solid;
    border-radius: 2rem;
    padding: 2rem;
    text-align: center;
    width: 15rem;
    height: 22rem;
    transition: var(--transition);
}

.aboutcard:hover{
    background-color: transparent;
    border-color: var(--color-white);
}


.showbutton{
    margin-top: 1rem;
}


.btn:hover{
    /* background-color: rgba(0, 0, 0, 0.4); */
    background-color: var(--color-primary);
    color: var(--color-white);
}

.about__icon{
    color: var(--color-primary);
    font-size: 1.5rem;
    margin-bottom: 1.4rem;

}

.aboutcard h4{
    font-size: 1.4rem;
}

.aboutcard small{
    font-size: 0.8rem;
}

/* .about__content p{
    color: var(--color-primary);
    margin: 2.5rem auto 2.5rem;
    font-size: 1.15rem;
    text-align:justify;
    font-weight: 500;
} */

.aboutmyself{
    margin: 2rem 0rem 2rem 10rem;
    /* padding: 0rem 10rem ; */
    color: var(--color-primary);
    font-size: 1.15rem;
    text-align:justify;
    font-family: 'Kalam', sans-serif ;
    line-height: 5vh;
}
.initial{
    margin-top: 1rem;
    float: right;
}

/* media queries for different devices */


@media screen and (min-width:601px) and (max-width: 1024px){
    .about__container{
        display: grid;
        grid-template-columns: 3fr;
        gap: unset;
        grid-gap: 7%;
    }

    .aboutimg{
        height: 23rem;
        width: 19rem;
    }



    .about__media{
        width: 19rem;
        margin: 2rem auto 4rem;
        height: 20rem;
    }

    .about__content p{
        margin: 1.5rem 0 1.5rem;
    }

    .about__cards{
        margin-bottom: 3rem;
        grid-template-columns: 2fr 2fr 2fr;
        gap: 2rem;
    }
    .aboutcard{
        width: 13rem;
        height: 23rem;
    }

    .aboutmyself{
        margin: 3rem 6rem 3rem 6rem;
        
    }

}

@media screen and (max-width: 600px){

    #about{
        margin-top: 17rem;
    }

    /* .about__media{
        width: 15rem;
        margin: 0 auto 1rem;
        height: 23rem;
    }

    .aboutimg{
        height: 23rem;
    } */

    .about__cards{
        grid-template-columns: 2fr;
        gap: 2rem;
        
    }

    .aboutcard{
        width: 20.6rem;
        height: fit-content;
    }

    .about__content{
        text-align: center;
        margin-bottom: 2rem;
    }

    .about__content p{
        margin: 1.5rem 0;
    }
    .aboutmyself{
        margin: 0 3rem 2rem 3rem;
        width: fit-content;
        font-size: 1rem;
    }

    .about__container{
        grid-template-columns: 1fr;
        gap: 1rem;
        margin-top: 2rem;
        
    }

}