/* .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background-color: var(--color-bg-variant);
   
  } */

  .swiper-slide {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  /* .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */

  /* .swiper {
    width: 30rem;
    height: 45rem;
    margin: 3rem;
    
  }   */

  .swiper {
    width: 50rem;
    height: 40rem;
    border-radius: 3rem;
    background-color: var(--color-bg-variant);
    border: solid 1px;
    cursor: grab;
    transition: var(--transition);
  }
  .mySwiper{
    margin-bottom: 2rem ;
  }

  .swiper:hover{
    background-color: transparent;
    border-color: var(--color-white);
  }

  .sliderheader{
    margin: 2rem 1rem;
    text-align: center;
    color: var(--color-white);
    border-bottom: 2px solid var(--color-primary);
    background-color: var(--color-primary-variant);
    border-radius: 3rem;
    padding: 2rem;
    transition: var(--transition);

  }

  .sliderheader:hover{
    background-color: transparent;
    border-color: var(--color-white);
    color: var(--color-primary);
  }
  
  .slidercontent{
    display: grid;
    grid-template-columns: 10% 90%;

  }

  .sliderpoint{
    font-size: 1.1rem;
    margin-right: 2rem;
    margin-bottom: 1.5rem;
    text-align:justify;
    color: var(--color-primary);
  }

  .slidericon{
    margin-left: 1rem;
    margin-top: 0.5rem;
    display: flex;
    color: var(--color-primary);
  }
 

.container__experience{
    display: grid;
    grid-template-columns: 0.33fr 0.33fr 0.33fr;
    gap: 2rem
}

.container__experience > div{
    background: var(--color-bg-variant);
    border: 1px solid;
    border-radius: 2rem;
    padding: 2rem;
    transition: var(--transition);
}

.container__experience > div:hover{
    background-color: transparent;
    border-color: var(--color-white);
    cursor:default;
}

.container__experience > div h3{
    text-align: center;
    color: var(--color-primary);
    margin-bottom: 1rem;
}

.experience__content{
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    row-gap: 2rem;
}

.experience__details{
    display: flex;
    gap: 0.7rem
}

.experience__details-icon{
    margin-top: 6px;
    color: var(--color-primary);
}

@media screen and (max-width: 1024px){
    .container__experience{
        grid-template-columns: 1fr;
    }
    .container__experience > div{
        width: 75%;
        /* padding: 2rem; */
        margin: 0 auto;
    }

    .experience__content{
        padding: 2rem;
    }

    .swiper{
      width: 90%;
      height: fit-content;
    }
}

@media screen and (max-width: 600px){
    .container__experience{
        gap: 2rem;
    }

    .container__experience >div{
        padding: 2rem 1rem;
        width: 100%;
    }
    .swiper{
      width: 90%;
      height: fit-content;
    }

    .slidericon{
      margin-left: 0.5rem;
      margin-top: 0.5rem;
    }

}
