@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Quicksand:wght@300;400;500;600&display=swap"); */

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: #e7ecef;
  --color-primary: #274c77;
  --color-primary-variant: #6096ba;
  --color-bg-varaint: #a3cef1;
  --color-white: #f0efeb;
  --color-light: #8b8c89;
  --transition: all 400ms ease;
  --container-width-lg: 70%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Quicksand", sans-serif;
  background: url("https://www.transparenttextures.com/patterns/cubes.png");
  color: var(--color-primary);
  line-height: 1.7;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

section > h4 {
  color: var(--color-light);
}

section > h3 {
  color: var(--color-primary);
}

.text-light {
  color: var(--color-light);
}

a {
  color: var(--color-primary);
  transition: var(--transition);
  text-decoration: none;
}

a:hover {
  color: var(--color-light);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

.btn:hover {
  background-color: var(--color-primary-variant);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* to make the content responsive on different devices */

/* @media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
    margin-top: 4rem;
  }

  section {
    margin-top: 5rem;
  }
} */

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  h1 {
    font-size: 1.3rem;
  }
  h2 {
    font-size: 1.1rem;
  }

  h4 {
    font-size: 1rem;
  }
  section {
    margin-top: 4rem;
  }
  section > h2 {
    margin-top: 3rem;
  }
}
