@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Quicksand:wght@300;400;500;600&display=swap'); */


*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    /* --color-bg: #1f1f38; */
    /* --color-bg: #e7b193; */
    --color-bg: #e7ecef;
    /* --color-primary: #f0efeb; */
    /* --color-primary: #b33e2e; */
    --color-primary: #274c77;
    /* --color-primary-variant: #fff1e6; */
    --color-primary-variant: #6096ba;
    /* --color-bg-variant: #e8d1c5; */
    --color-bg-varaint: #a3cef1;
    /* --color-bg-variant: #2c2c6c; */
    /* --color-primary: #4db5ff; */
    /* --color-primary-variant: rgba(77,181,255,0.4); */
    --color-white: #f0efeb;
    /* --color-light: rgba(186, 49, 49, 0.6); */
    --color-light: #8b8c89;
    /* --color-border: #ff9b54; */

    --transition: all 400ms ease;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;

}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}

body{
    font-family: 'Quicksand', sans-serif;
    background: var(--color-bg);
    /* background: url(./assets/overlay.jpeg); */
    /* color: var(--color-white); */
    color: var(--color-primary);
    line-height: 1.7;
    /* background-image: url(../src/assets/bg-texture.png)  ; */
    /* background-image: url(../src/assets/spacebg.jpeg)  ; */
    
}

.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 500;
}

h1{
    font-size: 2.5rem;
}

section{
    margin-top: 7rem;
    /* height: 100vh; */
}

section > h4{
    text-align: center;
    color: var(--color-light);
}

section > h3{
    text-align: center;
    color: var(--color-primary);
    margin-bottom: 2rem;
}

.text-light{
    color: var(--color-light);
}

a{
    color: var(--color-primary);
    transition: var(--transition);
}

a:hover{
    /* color: var(--color-white); */
    color: var(--color-light);
}

.btn{
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

.btn:hover{
    background-color: var(--color-primary-variant);
    color: var(--color-bg); 
    /* color: var(--color-light);  */
    border-color: transparent;
}

.btn-primary{
    background: var(--color-primary);
    color: var(--color-bg);
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}

/* to make the content responsive on different devices */

@media screen and (max-width: 1024px){
    .container{
        width: var(--container-width-md);
        margin-top: 4rem;
    }

    section{
        margin-top: 5rem;
    } 
}

@media screen and (max-width: 600px){
    .container{
        width: var(--container-width-sm);
        /* justify-content: center; */
    }

    section > h2{
        margin-top: 4rem;
    }

    section{
        margin-top: 4rem;
    } 

}